<!doctype html>
<html ng-app="forterChatApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NodeJS Skeleton</title>
  <!--<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">-->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">

  <!-- Some css -->
  <style type="text/css">
    .container {
      padding: 200px 0;
    }

    .funny-stuff {
      text-align: center;
    }
  </style>
</head>
<!-- appController -->
<body ng-controller="AppController as appCtrl">
<md-content>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
        <!--<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>-->
      </md-button>
      <h2>
        <span>Toolbar with Disabled/Enabled Icon Buttons</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
        <!--<md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>-->
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <!--<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>-->
      </md-button>
    </div>
  </md-toolbar>
</md-content>


<div class="full-height layout-fill ng-scope layout-column" ui-view="" layout="column" layout-fill="" aria-hidden="false"><!-- ngIf: roomsCtrl.rooms.length > 0 -->
  <md-content flex="" class="ng-scope flex">
    <div class="md-subheader" sticky-state="next">
      <div class="md-subheader-inner"><span class="md-subheader-content"><span class="ng-scope">Opened Rooms right now</span></span></div>
    </div>


    <div ui-view="" flex="" class="ng-scope flex">
      <div layout="row" layout-wrap="" class="layout-wrap ng-scope layout-row">
        <md-content layout="column" flex="80" flex-sm="100" class="layout-column flex-sm-100 flex-80">
          <md-content style="height: 60vh;" class="ng-binding">
            <div class="md-subheader-wrapper ng-scope md-sticky-clone" sticky-state="next" style="margin-left: 0px;">
              <div class="md-info md-subheader">
                <div class="md-subheader-inner"><span class="md-subheader-content"><span class="ng-binding ng-scope">Messages in room Test</span></span></div>
              </div>
            </div>
            <md-list scroll="appCtrl.messages" role="list">
              <div class="md-info md-subheader" sticky-state="next">
                <div class="md-subheader-inner">
                  <span class="md-subheader-content">
                    <span class="ng-binding ng-scope">Messages in room Test</span>
                  </span>
                </div>
              </div>

              <!-- ngRepeat: message in appCtrl.messages -->
              <message ng-repeat="message in appCtrl.messages" message="message" author="message.authorId"
                       ng-class="{ 'repeated-author' : $index>0 && message.authorId == appCtrl.messages[$index-1].authorId}" class="ng-scope ng-isolate-scope">
              </message>
              <!-- end ngRepeat: message in appCtrl.messages -->

            </md-list>
          </md-content>
          <md-content layout-padding="" layout="column" class="layout-padding layout-column">
            <md-input-container class="md-accent">
              <label for="user-input">New Message</label>
              <input ng-enter="appCtrl.createMessage()" ng-model="appCtrl.newMessage" md-maxlength="350"
                     class="ng-valid md-input ng-dirty ng-valid-md-maxlength ng-touched" id="user-input"
                     aria-invalid="false" ng-trim="false" style="">
              <div class="md-errors-spacer">
                <div class="md-char-counter">0/350</div>
              </div>
            </md-input-container>
          </md-content>
        </md-content>
        <md-content class="side-nav room-users hide-sm layout-column flex-18" hide-sm="" layout="column" flex="18">
          <div class="md-subheader-wrapper ng-scope md-sticky-clone" sticky-state="next" style="margin-left: 0px;">
            <div class="md-accent md-subheader">
              <div class="md-subheader-inner"><span class="md-subheader-content"><span class="ng-scope">Available users</span></span></div>
            </div>
          </div>
          <md-list layout-fill="" class="layout-fill" role="list">
            <div class="md-accent md-subheader" sticky-state="next">
              <div class="md-subheader-inner"><span class="md-subheader-content"><span class="ng-scope">Available users</span></span></div>
            </div><!-- ngRepeat: (index, contact) in roomItemCtrl.users -->
            <md-list-item class="md-2-line contact-item selected md-no-proxy ng-scope" ng-repeat="(index, contact) in roomItemCtrl.users" role="listitem"><img
                ng-src="https://avatars3.githubusercontent.com/u/405975?v=3&amp;s=460" class="md-avatar" alt="" src="https://avatars3.githubusercontent.com/u/405975?v=3&amp;s=460">
              <div class="md-list-item-text compact"><h3 class="ng-binding">Gur Dotan</h3>
                <p class="ng-binding">@gur@soom.la</p></div>
              <md-divider></md-divider>
            </md-list-item><!-- end ngRepeat: (index, contact) in roomItemCtrl.users --></md-list>
        </md-content>
      </div>
    </div>
  </md-content><!-- end ngIf: roomsCtrl.rooms.length > 0 --></div>


<div class="container">
  <div class="funny-stuff">
				<span>
					Question: {{funnyStuff.question}}
				</span>
  </div>
  <div class="funny-stuff">
				<span>
					Answer: {{funnyStuff.answer}}
				</span>
  </div>
</div>


<!-- Load js dep -->
<script src="bower_components/socket.io-client/socket.io.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-socket-io/socket.min.js"></script>
<script src="js/app.js"></script>
<script src="js/enter.directive.js"></script>
<script src="js/message/message.directive.js"></script>
<script src="js/util/created.date.filter.js"></script>

</body>
</html>
